<h1>$word</h1>
<ol>
  #foreach ($defintion in $word)
  <li>is it going intot his loop?</li>
  <li>$word.getDefinition();</li>
  #end
</ol>
<form action="/words/$word.getId()" method="post" class="form-control">
  <div class="form-group">
    <label for="addDefinition">Add another definition:</label>
    <input id="addDefinition" name="addDefinition" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>

<p><a href="/words">Go to full list</a></p>
