<img src="/books.jpg" class="img-responsive">
<div class="jumbotron">
  <h1>THE Dictionary</h1>
  <form action="/words" method="post">
    <div class="form-group">
      <label for="addWord">Add new word:</label>
      <input type="text" id="addWord" name="addWord" class="form-control" placeholder="Enter a word...">
    </div>
    <button type="submit" class="btn btn-default customBtn">Submit!</button>
  </form>
</div>
