<h1>Welcome to THE dictionary</h1>
<form action="/words" method="post" class="form-control">
  <div class="form-group">
    <label for="addWord">Add new word:</label>
    <input type="text" id="addWord" name="addWord">
  </div>
  <button type="submit" class="btn">Submit Word</button>
</form>
